<!DOCTYPE html>
<html lang="en">
<head>
    <title>Personal Website</title>

     <link rel="stylesheet" href="css/site.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>

<h1>Header</h1>

{{ content }}

</body>
</html>